/*
===============================================================================
Document variables
===============================================================================
*/
:root {
    --main-padding: 20px 80px;
    --mobile-padding: 20px 8px;
    --btn-padding: 8px 16px;

    --cta : #e00e73;
    --cta-hover: #A70050;

    --green: #32A329;
    --magenta: #E00E73;
    --orange: #FA9C0E;
    --red: #E42849;
    --purple: #852E9B;
    --blue: #0582A9;
    --black: #0B170B;
}
  
  /*
  ===============================================================================
  Document general display rules
  ===============================================================================
  */
  body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--black);
}

.container-intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto auto auto auto auto auto auto auto;
    grid-template-areas: 
        "header"
        "contrib-message"
        "contrib-button1"
        "intro-p1"
        "intro-p2"
        "intro-p3"
        "intro-p4"
        "intro-p5"
        "contrib-button2";
}

.container-intro h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.container-intro h1:before {
    content: "";
    width: 12px;
    height: 40px;
    background: var(--magenta);
    display: block;
    float: left;
    margin-top: -10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20px;
}

.header {
    padding: 0 40px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.header img {
    max-height: 80%;
}

.header ul {
    list-style-type: none;
}

.header li {
    margin-left: 20px;
    display: inline;
}

.header a {
    text-decoration: none;
    color: var(--black);
}

.header a:hover {
    color: var(--black);
}

#contrib-message {
    grid-area: contrib-message;
    text-align: center;
    margin-bottom: 20px;
}

#contrib-message h1:before {
    display: none;
}

.contrib-button {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contrib-button > div {
    padding: 8px;
}

.contrib-button .cta-button {
    text-decoration: none;
    color: #fff;
    padding: var(--btn-padding);
    background-color: var(--magenta);
}

.contrib-button .cta-link {
    text-decoration: none;
    color: var(--magenta);
}

#contrib-button1 {
    grid-area: contrib-button1;
}

#contrib-button2 {
    grid-area: contrib-button2;
    margin-top: 40px;
    margin-bottom: 80px;
}

.intro {
    padding: var(--main-padding);
}

#intro-p1 {
    grid-area: intro-p1;
}

#intro-p1 > h1:before {
    background: var(--green);
}

#intro-p2 {
    grid-area: intro-p2;
}

#intro-p2 > h1:before {
    background: var(--magenta);
}

#intro-p3 {
    grid-area: intro-p3;
}

#intro-p3 > h1:before {
    background: var(--blue);
}

#intro-p4 {
    grid-area: intro-p4;
}

#intro-p4 > h1:before {
    background: var(--orange);
}

#intro-p5 {
    grid-area: intro-p5;
}

#intro-p5 > h1::before {
    background: var(--purple);
}
